extends layout
block content

  .jumbotron
    .container
      h1#title=title
      h5 Written by: Martin Gingras
      a(href="http://mgingras.ca")
        button.btn.btn-default mgingras.ca
      a(href="http://github.com/mgingras/synonymizer") 
        button.btn.btn-default View on GitHub
  .container
    .row
      #syn.col-xs-5
        p(style="font-style:italic;") Enter text into this box for it to be Synonymized!!
      #syn-text.col-xs-5.col-xs-offset-2(style="float:right;")
        p(style="font-style:italic;") Here is your Synonymized text:
    .row
      #inputContent.col-xs-5
        textarea#inText(placeholder="Enter text here to be Synonymized")
      #buttonContent.col-xs-2
        input#synonymizeButton(type="image", src="img/synonymize.png")
      #synonymizedContent.col-xs-5
        p.synText(style="font-style:italic;") Here is your Synonymized text:
        #outputText
          p#outText
  script(src='/js/synonymize.min.js')
