extends layout
block content
  div.container
    #inputContent
      p(style="font-style:italic;") Enter text into this box for it to be Synonymized!!
      textarea#inText(placeholder="Enter text here to be Synonymized")
    #buttonContent
      input#synonymizeButton(type="image", src="img/synonomize.png")
    #synonymizedContent
      p#outP(style="font-style:italic;") Here is your synonymized text:
      #outputText
        <p id="outText"></p>
  script(src='/js/synonymize.min.js')
  