doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content="Substitute random words in your text with their synonyms")
    meta(name="keywords", content="synonym,synonymizer,substitute,words,")
    title=title
    link(rel='stylesheet', href='css/style.css')
    link(rel='icon', href='img/favicon.ico')
    script(src='js/jquery-2.0.3.min.js')
  body
    header
      .container
        h1=title
        section#downloads
          h5= "Written by: Martin Gingras"
          <a href="http://magingras.com" class="btn">magingras.com</a>
          <a href="https://github.com/mgingras/test.github.io" class="btn">View on GitHub</a>
    block content
    