body {
  margin: 0px;
  padding: 0px;
  color: black;
  font-size: 15px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
}

section {
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}


/* 
* Header, <header>
* header   - container
* h1       - project name
* h2       - project description
*/

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 0px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #2799E6;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
  0 0 5px rgba(181, 232, 83, 0.1),
  0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

/*  Main Content
*/

#inputContent {
  height: 100%;
}
#outputText {
  padding-top:1px;
  height:400px;
}
#synonymizedContent {
  padding-top:-5px;
}
#buttonContent {
  text-align: center;
  padding-top: 120px;
  z-index:999;
}
#outputText {
  background: rgba(0, 0, 0, 0.2);
  height:350px;
  color:black;
}
#outText {
  padding: 0px 5px;
}
#synonymizeButton {
  background-color:white;
  -moz-border-radius:15px;
  border-radius:15px;
  border: 2px solid #2799E6;
  vertical-align:center;
}
#synonymizeButton:hover {
  border-color: #eaeaea;
}
#inText {
  height:350px;
  width:100%;
  resize:none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #2799E6;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
  0 0 5px rgba(181, 232, 83, 0.1),
  0 0 10px rgba(181, 232, 83, 0.1);
}

/*
*  Tablet
*/

@media screen and (max-width:890px){
  #buttonContent{
    padding-top: 100px;
  }
  #synonymizeButton {
    height:50px;
    width:50px;
  }
  #title {
    font-size:20px;
  }
  .btn {
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  header{
    margin: 0px;
    padding-left: 20px;
  }
  h5 {
    font-size:;
  }
  p {
    font-size:12px;
  }
}

/*
*  Mobile
*/
@media screen and (min-width:450px){
  .synText {
    display:none;
  }
  #syn-text {
    display:block;
  }
}
@media screen and (max-width:450px){
  #buttonContent{
    padding-top: 5px;
  }
  #outputText{
    height:150px;
  }
  .container {
    padding: 0px 5px 5px 5px;
  }
  #inputContent {
    height: 150px;
  }
  #inText {
    height:150px;
    width:100%;
    resize: none;
  }
  #synonymizedContent {
    height: 150px;
  }
  #buttonContent {
    float: left;
    width: 100%;
    height:55px;
    text-align: center;
    border: none;
    padding: 0px;
    margin-top:10px;
    margin-bottom:10px;
  }
  .synText {
    display:block;
  }
  #syn-text {
    display:none;
  }
  #title {
    font-size:25px;
  }
  header {
    padding:0px;
  }
  section {
    margin:0px;
  }
  p {
    font-size:10px;
    margin: 5px;
  }
  h5 {
    font-size:11px;
    margin: 5px;
  }
  #inputContent{
    width:100%;
  }
  #synonymizedContent{
    width:100%;
  }
  
}